.bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	*zoom: 1;
    img {
    	max-width: 100%;
    	display: block;
    }
    .bx-viewport {
    	.media-object;
    	background-color: @body-bg;
    }
    .bx-pager,
    .bx-controls-auto {
    	position: absolute;
    	width: 100%;
    }
    .bx-loading {
    	min-height: floor(@default-padding * 4);
    	background-color: @white;
    	height: 100%;
    	width: 100%;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	z-index: 2000;
    }
    .bx-pager {
    	text-align: center;
    	color: @avl-blue;
    	padding-top: @default-padding;
        .bx-pager-item{
        	display: inline-block;
        	*zoom: 1;
        	*display: inline;
        }
        &.bx-default-pager a {
        	background: @avl-gray;
        	.hide-text();
        	display: block;
        	width: floor(@default-padding / 2);
        	height: floor(@default-padding / 2);
        	margin: 0 floor(@default-padding / 3);
        	outline: 0;
        	border-radius: 50%;
            &:hover,
            &.active {
            	background: @avl-dark-gray;
            }
        }
    }
    .bx-controls-auto .bx-controls-auto-item {
    	display: inline-block;
    	*zoom: 1;
    	*display: inline;
    }
    .bx-prev {
    	left: @font-size-base;
    	.icon;
    	.icon-arrow-left;
    	.opacity(.5);
    }
    .bx-next {
    	right: @font-size-base;
    	.icon;
    	.icon-arrow-right;
    	.opacity(.5);
    }
    &:hover .bx-next,
    &:focus .bx-next,
    &:hover .bx-prev,
    &:focus .bx-prev{
    	.opacity(1);
    }
    .bx-controls-direction a {
    	position: absolute;
    	top: @font-size-base;
    	outline: 0;
    	width: floor(@font-size-base * 2);
    	height: floor(@font-size-base * 2);
    	font-size: @font-size-base;
    	line-height: (floor(@font-size-base * 2) - 5);
    	z-index: 9999;
    	background-color: @gray-light;
    	color: @white;
    	text-align: center;
    	border-radius: 50%;
    	border: @default-border;
        .transition(all @transition-timing);
        &.disabled {
        	display: none;
        }
        &:hover{
            color: @white;
            background-color: @avl-red;
            border-color: @avl-red;
        }
    }    
/* AUTO CONTROLS (START / STOP) */
    .bx-controls-auto {
    	text-align: center;
        .bx-start,
        .bx-stop{
        	.icon;
            display: inline-block;
            float:left;
        	outline: 0;
        	margin: 0;
        	color: @avl-gray;
        }
        .bx-start {
        	.icon-play;
        	&:hover,
            &.active {
        	    color: @avl-red;	
            }
        }
        .bx-stop {
        	.icon-stop;
            &:hover,
            &.active {
        	    color: @avl-red;	
            }
        }
    }
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
    .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    	text-align: left;
    	width: 80%;
    }
    .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    	right: 0;
    	width: 20%;
    }
/* IMAGE CAPTIONS */
    .bx-caption {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	background-color: @gray-light;
    	width: 100%;
        span {
    	    color: @white;
    	    font-size: @font-size-small;
    	    font-family: @font-family-caption;
        	display: block;
        	padding: @thumbnail-caption-padding;
        }
    }
}
// --------------------------------------------------
// mobile
@media (max-width: @screen-tablet) {
.bx-wrapper {
        .bx-prev {
        	//display: none;
        }
        .bx-next {
        	//display: none;
        }
        .bx-caption {
            span {
            }
        }
    }
}