.bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	*zoom: 1;
    
    img {
    	max-width: 100%;
    	display: block;
    }
    
    .bx-viewport {
    	.media-object;
    	background-color: @body-bg;
    }
    
    .bx-pager,
    .bx-controls-auto {
    	position: absolute;
    	width: 100%;
    }
    
    /* LOADER */
    
    .bx-loading {
    	.glyphicon;
    	.glyphicon-refresh;
    	min-height: floor(@default-padding * 4);
    	background-color: @white;
    	height: 100%;
    	width: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 2000;
    }
    
    /* PAGER */
    
    .bx-pager {
    	text-align: center;
    	color: @avl-blue;
    	padding-top: @default-padding;
        
        .bx-pager-item{
        	display: inline-block;
        	*zoom: 1;
        	*display: inline;
        }
        
        &.bx-default-pager a {
        	background: @avl-gray;
        	text-indent: -9999px;
        	display: block;
        	width: floor(@default-padding / 2);
        	height: floor(@default-padding / 2);
        	margin: 0 floor(@default-padding / 3);
        	outline: 0;
        	border-radius: 50%;
            &:hover,
            &.active {
            	background: @avl-dark-gray;
            }
        }
    }
    .bx-controls-auto .bx-controls-auto-item {
    	display: inline-block;
    	*zoom: 1;
    	*display: inline;
    }
    /* DIRECTION CONTROLS (NEXT / PREV) */
    
    .bx-prev {
    	left: 0;
    	.glyphicon;
    	.glyphicon-chevron-left;
    	.opacity(.1);
    }
    .bx-next {
    	right: 0;
    	.glyphicon;
    	.glyphicon-chevron-right;
    	.opacity(.1);
    }
    &:hover .bx-next,
    &:focus .bx-next,
    &:hover .bx-prev,
    &:focus .bx-prev{
    	.opacity(1);
    }
    .bx-controls-direction a {
    	position: absolute;
    	top: 0;
    	outline: 0;
    	width: 50%;
    	height: floor(@font-size-base * 2);
    	font-size: @font-size-base;
    	line-height: (floor(@font-size-base * 2) - 2);
    	z-index: 9999;
    	background-color: fadeout(@body-bg, 25%);
    	color: @avl-gray;
    	text-align: center;
        .transition(all @transition-timing);
        &.disabled {
        	display: none;
        }
        &:hover{
            color: @avl-red;
        }
    }    
    /* AUTO CONTROLS (START / STOP) */
    
    .bx-controls-auto {
    	text-align: center;
        .bx-start,
        .bx-stop{
        	.glyphicon;
            display: inline-block;
            float:left;
        	outline: 0;
        	margin: 0;
        	color: @avl-gray;
        }
        .bx-start {
        	.glyphicon-play;
        	&:hover,
            &.active {
        	    color: @avl-red;	
            }
        }
        .bx-stop {
        	.glyphicon-stop;
            &:hover,
            &.active {
        	    color: @avl-red;	
            }
        }
    }
    /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
    
    .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    	text-align: left;
    	width: 80%;
    }
    .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    	right: 0;
    	width: 20%;
    }
    
    /* IMAGE CAPTIONS */
    
    .bx-caption {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	background-color: fadeout(@body-bg, 25%);
        span {
    	    color: @avl-gray;
    	    font-size: @font-size-small;
    	    font-family: @font-family-caption;
        	display: block;
        	padding: @default-padding;
        }
    }
}
//
// mobile Navs
// --------------------------------------------------
@media (max-width: @screen-tablet) {
.bx-wrapper {
        .bx-prev {
        	display: none;
        }
        .bx-next {
        	display: none;
        }
        .bx-caption {
        	background-color: fadeout(@body-bg, 25%);
            span {
        	    color: @avl-gray;
        	    font-size: @font-size-small;
        	    font-family: @font-family-caption;
            	display: block;
            	padding: floor(@default-padding / 2);
            }
        }
    }
}