// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------


// Common styles
// -------------------------

// Clear the floats
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
  &:extend(.clearfix all);
}

// Proper spacing between instances of .media
.media {
    border-top:@media-border;
    border-bottom:@media-border;
    margin: 0;
    padding: @default-padding (@default-padding * 2) (@default-padding * 2);
    .box-shadow(@top-box-shadow);
}
.centered{
    .media{
        margin: 0 -(@default-padding * 2) @default-padding -(@default-padding * 2);
    }
}
// Reset margins on headings for tighter default spacing
h4.media-heading {
    margin: @default-padding 0 floor(@default-padding / 2) 0;
    .subhead;
    color: @avl-gray;
    -webkit-text-stroke: 0px;
}
h2.media-heading {
    .h2;
    margin: @default-padding 0 floor(@default-padding / 2) 0;
    color: @avl-gray;
    -webkit-text-stroke: 0px;
}
// For images and videos, set to block
.media-object {
    .img-thumbnail();
    display: block;
    margin-left:auto;
    margin-right:auto;
    &.circle{
        //.square(100%);
        border-radius: 50%;
    }
    &.full-width {
        margin: @font-size-base auto;
    }
}
.media-caption {
    color: @avl-blue;
    margin: 0;
}
.media-list {
    padding-left: 0;
    list-style: none;
}
// Media alignment
// -------------------------
.media {
  .pull-left {
    margin-right: (@line-height-computed / 3);
    margin-top:0;
  }
  .pull-right {
    margin-left: (@line-height-computed / 3);
    margin-top:0;
  }
}
.media.pull-left {
    margin-right: @line-height-computed;
    margin-top:(@line-height-computed / 3);
}
.media.pull-right {
    margin-left: @line-height-computed;
    margin-top:(@line-height-computed / 3);
}



@media (max-width: @screen-tablet) {
    .media {
        border-top:@media-border;
        border-bottom:@media-border;
        margin: 0;
        padding: 0;
        .box-shadow(@top-box-shadow);
        .media, &:first-child {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    .centered{
        .media{
            margin: 0 -(@default-padding * 2) @default-padding -(@default-padding * 2);
        }
    }
    .media-object {
        margin-top:@default-padding;
        &.circle{
            //.square(100%);
            border-radius: 50%;
        }
        &.full-width {
            margin: @font-size-base auto;
        }
    }
}