// Media objects

.media {
    overflow: hidden;
    zoom: 1;
    &:extend(.clearfix all);    border-bottom:@media-border;
    margin: @default-padding -(@default-padding * 2);
    padding: 0 (@default-padding * 2) (@default-padding * 2);
    .box-shadow(@default-box-shadow);
    [data-featherlight]{
        cursor: pointer;
    }
}
.centered{
    .media{
        margin: 0 -(@default-padding * 2) @default-padding -(@default-padding * 2);
    }
}
h4.media-heading, .media-heading {
    margin: 0 0 floor(@line-height-computed / 2) 0;
    .subhead;
    color: @avl-blue;
    -webkit-text-stroke: 0px;
}
h2.media-heading {
    .h2;
    margin: @default-padding 0 floor(@default-padding / 2) 0;
    color: @avl-gray;
    -webkit-text-stroke: 0px;
}
.media-object {
    .img-thumbnail();
    display: block;
    margin-left:auto;
    margin-right:auto;
    &.full-width{
        margin-bottom: @default-padding;
        width: 100%;
    }
    &.circle{
        border-radius: 50%;
        width: 175px;
        height: 175px;
    }
    &.youtube {
    }
}
.media-body{
    &.block-grid{
        li{
            padding-bottom: 0;
        }
    }
}
.media-caption {
    color: @avl-blue;
    margin: floor(@line-height-computed / 2) auto 0;
    font-size: @font-size-small;
    font-style: italic;
}
ul.media-caption{
    margin: 0;
    padding-left: @default-padding;
}
.media-list {
    .block-grid;
    li{
        .text-center;
        > a > img {
            width: @navbar-height;
            height: @navbar-height;
        }
    }
}
// Media alignment
// -------------------------
.media {
  .pull-left {
    margin-right: (@line-height-computed / 3);
    margin-top:0;
  }
  .pull-right {
    margin-left: (@line-height-computed / 3);
    margin-top:0;
  }
}
.media.pull-left {
    margin-right: @line-height-computed;
    margin-top:(@line-height-computed / 3);
}
.media.pull-right {
    margin-left: @line-height-computed;
    margin-top:(@line-height-computed / 3);
}



@media (max-width: @screen-tablet) {
    .media {
        //border-top:@media-border;
        border-bottom:@media-border;
        margin: 0 -(@default-padding * 1) @default-padding;
        padding: 0;
        .box-shadow(@default-box-shadow);
        .media, &:first-child {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
    .centered{
        .media{
            margin: 0 -(@default-padding * 1) @default-padding;
        }
    }
    .media-object {
        margin-top:@default-padding;
        &.circle{
            //.square(100%);
            border-radius: 50%;
        }
        &.full-width {
            margin: @font-size-base auto;
        }
    }
    .youtube .media-object{
        margin: 0;
    }
    .media-caption{
        padding: 0 @default-padding @default-padding;
    }
    h4.media-heading, .media-heading{
        margin: 0 (@default-padding * 1);
    }
}