//
// Navs
// --------------------------------------------------
.navigation{
    position: fixed;
    z-index: 10;
    overflow: visible;
    padding: 0;
    margin: 0;
    .transition(all @transition-timing);
    .drawerbutton {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: @font-size-large;
        &:hover{
            cursor: pointer;
        }
     }
}
.navigation.left{
    left: -45%;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: fadeout(@body-bg, 10%);
    .box-shadow(2px 0 2px @default-box-shadow);
    padding:(@default-padding * 2);
    &.active{
        left: 0;
    }
    .logo{
        .make-xs-column(12);
        .make-sm-column(6);
        .make-md-column(8);
        .text-hide;
        width: 200px;
        height: 40px;
        background: url(http://www.exploreasheville.com/includes/images/fall/logo.png) 0 0 no-repeat;
        padding:0;
    }
    .social{
        .make-xs-column(12);
        .make-sm-column(6);        
        .make-md-column(4);        
        padding:0;
    }
    #brp_map_canvas{
        .make-xs-column(12);
        .media-object;
    }
    .drawerbutton {
        position: fixed;
        top: @default-padding;
        left: @default-padding;
        font-size: @font-size-small;
        line-height: @default-padding;
        &:hover{
            cursor: pointer;
        }
     }
}
.navigation.bottom {
    left: 0;
    right: 0;
    bottom: -(@navbar-height + (@default-padding * 2));
    height: @navbar-height;
    background: url(http://www.exploreasheville.com/includes/images/storylines/blue-ridge-parkway/mountain-range.png) left 220% repeat-x;
    &.active {
        bottom: -(@default-padding * 2);
    }
    .drawerbutton {
        left: 0;
        right: 0;
        width: 100%;
        .text-center;
        bottom: @navbar-height + @default-padding;
        &:hover{
            cursor: pointer;
        }
     }
    > li {
        > a {
            display: block;
            width: @map-markers;
            height: @map-markers;
            border-radius: 50% 50% 50% 0;
            background: @avl-red;
            overflow: hidden;
            .rotate(-45deg);
            margin: 0 auto;
            .transition(all @transition-timing);
            .box-shadow(-2px 2px 2px @default-box-shadow);
            &:after{
                background: @black;
                .box-shadow(0 0 10px @default-box-shadow);
                border-radius: 50%;
                height: 25px;
                width: 50px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: 125px 0 0 25px;
                .rotate(55deg);
                z-index: -2;
            }
            &:hover,
            &:focus{
                width: floor(@map-markers * 1.2);
                height: floor(@map-markers * 1.2);
                .box-shadow(-10px 10px 10px @default-box-shadow);
                cursor: pointer;
                background: @avl-blue;
                margin-top:-10px;
            }
            > img {
                .rotate(45deg);
            	height: 86%;
            	width: 86%;
            	margin: 7%;
            	border-radius: 50%;
            	.box-shadow(inset 0 0 2px @default-box-shadow);
            }
        }
        &.currentslide a{
            background: @avl-blue;
        }
        .namecard{
            position: absolute;
            padding: @default-padding 0 floor(@map-markers * 2) 0;
            bottom: -400px;
            left: 0;
            z-index: -1;
            text-align: center;
            width: 100%;
            .opacity(0);
            .box-shadow(0 -2px 5px @default-box-shadow);
            #gradient > .vertical(@start-color: fadeout(@body-bg, 0%); @end-color: fadeout(@body-bg, 50%););
            .transition(all @transition-timing);
            &.active{
                bottom: 0;
                .opacity(1);
            }
        }
    }
}

//
// mobile Navs
// --------------------------------------------------
@media (max-width: @screen-tablet) {
    .navigation.left{
        left: -100%;
        top: 0;
        width: 100%;
        &.active{
            left: 0;
        }
    }
    .navigation.bottom {
        bottom: -(@navbar-height + (@default-padding * 2));
        padding: 0 0 @default-padding 0;
        margin: 0 0 0 0;
        height: @navbar-height;
        &.active {
            bottom: -(@default-padding * 3);
        }
        .drawerbutton {
            bottom: @navbar-height + @default-padding;
            font-size: @font-size-large;
            &:hover{
                cursor: pointer;
            }
        }
        > li {
            > a {
                width: floor(@map-markers * .75);
                height: floor(@map-markers * .75);
                &:after{
                    height: 25px;
                    width: 50px;
                    margin: 125px 0 0 25px;
                }
                &:hover,
                &:focus{
                    width: floor(@map-markers * .9);
                    height: floor(@map-markers * .9);
                }
                > img {
                	height: 86%;
                	width: 86%;
                	margin: 7%;
                }
            }
            .namecard{
                padding: @default-padding 0 floor(@map-markers * 2) 0;
                bottom: -400px;
                #gradient > .vertical(@start-color: fadeout(@body-bg, 5%); @end-color: fadeout(@body-bg, 10%););
                &.active{
                    bottom: 0;
                }
            }
        }
    }
}



// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  &:extend(.clearfix all);

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: @nav-link-padding floor(@nav-link-padding * 2);
      .h6;
      margin: 0;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: @nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: @nav-disabled-link-color;

      &:hover,
      &:focus {
        color: @nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: @nav-link-hover-bg;
      border-color: @link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    .nav-divider();
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid @nav-tabs-border-color;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: @line-height-base;
      border: 1px solid transparent;
      border-radius: @border-radius-small @border-radius-small 0 0;
      &:hover {
        border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-tabs-active-link-hover-color;
        background-color: @nav-tabs-active-link-hover-bg;
        border: 1px solid @nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    .nav-justified();
    .nav-tabs-justified();
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: @border-radius-small;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
     > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: @screen-tablet) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: @border-radius-small;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid @nav-tabs-justified-link-border-color;
  }

  @media (min-width: @screen-tablet) {
    > li > a {
      border-bottom: 1px solid @nav-tabs-justified-link-border-color;
      border-radius: @border-radius-small @border-radius-small 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @nav-tabs-justified-active-link-border-color;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
    border: 0;
    > .tab-pane {
        display: none;
        padding: @default-padding;
    }
    > .active {
        display: block;
    }
}
@media (min-width: @screen-tablet) {
    .tab-content {
        border: 1px solid @default-border-color;
        border-top: 0;
      @box-shadow: 0 1px 1px @default-box-shadow;
      .box-shadow(@box-shadow);
    }
}

// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  .border-top-radius(0);
}
