// background images
.slide{
    .make-row();
    min-height:100%;
    position: relative;
    // content
    .caption{
        padding-bottom:0;
        height: 100%;
        overflow:hidden;
        > img{
            .make-row();
            min-width: 100%;
            min-height: 100%;
            position: relative;
        }
        > aside {
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            .text-center;
        	padding: 0;
        	padding-top:(@default-padding * 4);
        	#gradient > .vertical(@start-color: fadeout(@body-bg, 100%); @end-color: fadeout(@body-bg, 20%););
        	> h1 {
        	   
        	}
        	> a {
                display: inline-block;
                width: 220px;
                height: 220px;
                border-radius: 50% 50% 50% 0;
                background: @avl-blue;
                overflow: hidden;
                .rotate(-45deg);
                margin: 0 0 (@default-padding * 2) 0;
                .transition(all @transition-timing);
                .box-shadow(-2px 2px 0 @default-box-shadow-color);
                &:after{
                    background: @black;
                    border-radius: 50%;
                    height: 25px;
                    width: 50px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: 125px 0 0 25px;
                    .rotate(55deg);
                    z-index: -2;
                }
                &:hover,
                &:focus{
                    cursor: pointer;
                    background: @avl-blue;
                }
                > img {
                    .rotate(45deg);
                	height: 200px;
                	width: 200px;
                	margin: 10px;
                	border-radius: 50%;
                }
        	}
        }
    }
    .noslide{
        min-height: 100%;
        .make-row();
        border: 1px solid @default-border-color;
        .box-shadow(0 -6px 0 -4px @default-box-shadow-color);
        .assets{
            .make-xs-column(12);
            .make-sm-column(4);
            .make-md-column(5);
            padding:(@default-padding * 4) @default-padding;
        	.pull-left;
        	h3, h4, h5, h6, .h3, .h4, .h5, .h6{
        	    margin: 0;
        	}
        }
        .story{
            .make-xs-column(12);
            .make-sm-column(8);
            .make-md-column(7);
        	padding:(@default-padding * 4) @default-padding;
        	.pull-right;
        }
    }
    &#top{
        min-height: 100%;
        z-index: 2;
        border: 1px solid @default-border-color;
        .box-shadow(0 6px 0 -4px @default-box-shadow-color);
       .caption{
            > aside {
                top: 0;
                padding-top: 0;
                text-align: left;
                #gradient > .vertical(@start-color: fadeout(@body-bg, 20%); @end-color: fadeout(@body-bg, 50%););
            }
            .slide-divider{
                height: 100%;
            }
        }
    }
}

@media (max-width: @screen-tablet) {
    .slide{

        .caption{
            
            .slide-divider{
                
            }
            > aside {
                
            	> h1 {
            	   
            	}
            	> a {
                    width: 220px;
                    height: 220px;
                     &:after{
                        height: 25px;
                        width: 50px;
                        margin: 125px 0 0 25px;
                    }
                    &:hover,
                    &:focus{
                    }
                    > img {
                    	height: 200px;
                    	width: 200px;
                    	margin: 10px;
                    }
            	}
            }
        }
        .noslide{
            padding:@default-padding;
            .assets{
            	padding: @default-padding 0 0 0;
            }
            .story{
            	padding: 0;
            }
        }
    }
}