// background images
.slide{
    .make-row();
    z-index: 0;
    min-height:100%;
    z-index: 2;
    .box-shadow(0 -2px 2px 1px rgba(0,0,0,.3));
    position: relative;
    // content
    .caption{
        padding-bottom:0;
        height: 100%;
        overflow:hidden;
        .slide-divider{
            .make-row();
            min-width: 100%;
            min-height: 100%;
        }
        > aside {
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            .text-center;
            z-index:999;
        	padding: 0;
        	padding-top:(@default-padding * 4);
        	#gradient > .vertical(@start-color: fadeout(@body-bg, 100%); @end-color: fadeout(@body-bg, 20%););
        	> h1 {
        	   
        	}
        	> a {
                display: inline-block;
                width: 200px;
                height: 200px;
                border-radius: 50% 50% 50% 0;
                background: @avl-blue;
                overflow: hidden;
                .rotate(-45deg);
                margin: 0 0 (@default-padding * 2) 0;
                .transition(all 0.1s ease-out);
                .box-shadow(1px 1px 2px 0 rgba(0,0,0,.1));
                &:after{
                    background: rgba(0,0,0,1);
                    .box-shadow(0 0 10px rgba(0,0,0,1));
                    border-radius: 50%;
                    height: 25px;
                    width: 50px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: 125px 0 0 25px;
                    .rotate(55deg);
                    z-index: -2;
                }
                &:hover,
                &:focus{
                    cursor: pointer;
                    background: @avl-blue;
                }
                > img {
                    .rotate(45deg);
                	height: 86%;
                	width: 86%;
                	margin: 7%;
                	border-radius: 50%;
                	.box-shadow(inset 0 0 2px rgba(0,0,0,.5));
                }
        	}
        }
    }
    .noslide{
        min-height: 100%;
    	background-color:@body-bg;
        .make-xs-column(12);
    	.box-shadow(inset 0 3px 2px 0 rgba(0,0,0,.3));
        .assets{
            .make-xs-column(12);
            .make-sm-column(4);
            .make-md-column(5);
        	padding:@default-padding;
        }
        .story{
            .make-xs-column(12);
            .make-sm-column(8);
            .make-md-column(7);
        	padding:(@default-padding);
        }
    }
    &#top{
        z-index: 0;
        height:100%;
        .caption{
            > aside {
                top: 0;
                text-align: left;
                #gradient > .vertical(@start-color: fadeout(@body-bg, 0%); @end-color: fadeout(@body-bg, 50%););
            }
            .slide-divider{
                height: 100%;
            }
        }
    }
}
article:last-of-type{
    .box-shadow(inset 0 2px 2px 1px rgba(0,0,0,.3));
}
@media (min-width: @screen-desktop) {
    .slide{

        .caption{
            
            .slide-divider{
                
            }
            > aside {
                
            	> h1 {
            	   
            	}
            	> a {
                    width: 200px;
                    height: 200px;
                     &:after{
                        height: 25px;
                        width: 50px;
                        margin: 125px 0 0 25px;
                    }
                    &:hover,
                    &:focus{
                    }
                    > img {
                    	height: 86%;
                    	width: 86%;
                    	margin: 7%;
                    }
            	}
            }
        }
        .noslide{

            .assets{
            	padding:(@default-padding * 4) @default-padding;
            }
            .story{
            	padding:(@default-padding * 4);
            }
        }
    }
}