.noslide{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:37.5%;
	margin:0;
	padding:floor(@default-padding * 2);
	background-color:@body-bg;
	.box-shadow(0px 0px 5px rgba(0,0,0,0.2));
}
.slide{
	
	width:100%;
	height:100%;
	position: relative;
	.box-shadow(inset 0px 10px 20px rgba(0,0,0,0.5));
	border-top:5px solid @avl-gray;
	.background-size(cover);
}
.slide:first-of-type{
	.box-shadow(inset 0px 10px 20px rgba(0,0,0,0));
}
#slide1{
	background-image:url(http://i.imgur.com/n356iid.jpg);
	border-top:5px solid @avl-red;
}
#slide2{
	background-image:url(http://i.imgur.com/u4kq50p.gif);
	border-top:5px solid @avl-blue;
}
#slide3{
	background-image:url(http://i.imgur.com/BaSgARa.gif);
	border-top:5px solid @avl-green;
}
#slide4{
	background-image:url(http://i.imgur.com/UxuPhr4.jpg);
	border-top:5px solid @avl-yellow;
}