// Tabs
// --------------------------------------------------

.tabs {
    display: block;
    padding: 0;
    margin: 0 0 -1px 0;
    width: 100%;
    padding-top: @default-padding;
    border-bottom: 0;
    //border-bottom: 1px solid @nav-tabs-border-color;
    &:extend(.clearfix all);
    > li {
        position: relative;
        float: none;
        display: table-cell;
        width: 1%;
        > a {
            text-align: center;
            position: relative;
            display: block;
            padding: floor(@default-padding / 4) 0;
            margin: 0 floor(@default-padding / 5) floor(@default-padding / 4) 0;
            .transition(all @transition-timing);
            .h6;
            line-height: @line-height-base;
            border: 1px solid transparent;
            &:hover,
            &:focus {
                text-decoration: none;
                color: @avl-gray;
                .box-shadow(@default-box-shadow);
                border: @default-border;
            }
        }
        &.active{
            > a {
                border: @default-border;
                &:hover,
                &:focus {
                    color: @gray;
                    cursor: default;
                    .box-shadow(none);
                }
            }
        }
    }
}

.tab-content {
    border: @default-border;
    height: 440px;
    .box-shadow(@default-box-shadow);
    > .tab-pane {
        display: none;
        padding: @default-padding;
    }
    > .active {
        display: block;
        height: 100%;
        position: relative;
    }
    audio{
        width: 100%;
        margin: @default-padding 0;
    }
    video{
        max-width: 100%;
    }
    .drawerbutton{
        position: absolute;
        margin-left: -@default-padding;
        left: 50%;
        top: (@default-padding / 4);
        z-index: 2;
        .opacity(0);
        .transition(opacity @transition-timing);
        &.active{
            .opacity(1);
        }
    }
}
.brp-overlay{
    display: block;
    position: relative;
    height: 100%;
    cursor: pointer;
    img{
        position: absolute;
        z-index: 0;
        &:last-of-type{
            z-index: 1;
            .opacity(0);
            .transition(opacity 2s ease-out);
            &.active{
                .opacity(1);
            }
        }
    }
}
@media (max-width: @screen-tablet) {
    .tabs {
        display: block;
        margin: 0;
        width: 100%;
        > li {
            position: relative;
            display: block;
            float: left;
            width: 100%;
            > a {
                margin: 0;
                border: 1px solid transparent;
            }
            &.active{
                > a {
                    border: @default-border;
                }
            }
        }
    }
    .tab-content {
        border: 0px;
        border-bottom: @default-border;
        > .tab-pane {
            display: none;
            padding: 0;
        }
        > .active {
            display: block;
        }
    }
}