//
// Typography
// --------------------------------------------------


// Body text
// -------------------------
p {
  margin: 0 0 (@line-height-computed / 2);
}
// Emphasis & misc
// -------------------------

small   { font-size: 85%; }

cite    { font-style: normal; }

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6{
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
	margin-top: 0;
	margin-bottom: floor(@line-height-computed / 2);
  color: @avl-blue;
  small {
    line-height: 1;
    font-style: italic;
    color: @headings-small-color;
  }
}

h4,
h5,
h6 {
  font-family: @subheadings-font-family;
  font-weight: @subheadings-font-weight;
  letter-spacing: @subheadings-letter-spacing;
  text-transform: uppercase;
  margin-top: @line-height-computed;
  margin-bottom: (@line-height-computed / 2);
}
h1 { font-size: floor(@font-size-base * 3); text-shadow: 1px 1px 0 @dark-text-shadow; }
h2 { font-size: floor(@font-size-base * 2.6); }
h3 { font-size: ceil(@font-size-base * 2); color: @headings-small-color; font-style: italic; }
h4 { font-size: ceil(@font-size-base * 1.7); }
h5 { font-size: ceil(@font-size-base * 1.25); }
h6 { font-size: @font-size-base; }

@media (max-width: @screen-tablet) {
    h1 { font-size: floor(@font-size-base * 1.6) }
    h2 { font-size: floor(@font-size-base * 1.4); }
    h3 { font-size: ceil(@font-size-base * 1.25); color: @headings-small-color; font-style: italic; }
    h4 { font-size: ceil(@font-size-base * 1); }
    h5 { font-size: ceil(@font-size-base * .85); }
    h6 { font-size: ceil(@font-size-base * .85); }
    p { font-size: ceil(@font-size-base * .85); }
}


// Page header
// -------------------------

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: 0;
  border-bottom: 0px solid @default-border-color;
}



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: (@line-height-computed / 2);
  ul,
  ol{
    margin-bottom: 0;
  }
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
// Inline turns list items into inline-block
.list-inline {
  .list-unstyled();
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// MISC
// ----

// Abbreviations and acronyms
abbr[title],
// Added data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @default-border-color;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: (@line-height-computed / 2) @line-height-computed;
  margin: 0 0 (@line-height-computed * 2);
  border-top: @default-border-color;
  border-bottom: @default-border-color;
  p {
    font-size: (@font-size-base * 1.25) !important;
    font-weight: 400;
    line-height: 1.25;
    font-family: @font-family-serif;
    color:@avl-gray;
    text-transform: none;
    font-style: italic;
  }
  h2 {
    margin:0;
    padding:0;
    font-family: @font-family-serif;
    color:@avl-gray;
    text-transform: none;
    font-style: italic;
    text-align: center;
    font-weight:700;
  }
  p:last-child {
    margin-bottom: 0;
  }
  small {
    display: block;
    line-height: @line-height-base;
    color: @avl-gray;
    &:before {
      content: '\2014 \00A0';// EM DASH, NBSP
    }
  }

  // Float right with text-align: right
  &.pull-right {
    padding-right: @default-padding;
    padding-left: 0;
    border-right: @default-border-color;
    border-left: 0;
    p,
    small,
    h2 {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';// NBSP, EM DASH
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: @line-height-computed;
  font-style: normal;
  line-height: @line-height-base;
}
