//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Brand colors
// -------------------------
@avl-blue:              #165788;
@avl-red:               #b71234;
@avl-green:             #90986b;
@avl-yellow:            #eeaf30;
@avl-gray:              #766a65;
@avl-dark-gray:         #37424a;
@tardis-blue:           #003764;


// Grays
// -------------------------

@black:                  #000000;
@gray:                   lighten(@black, 50%);
@gray-light:             fadeout(@black, 75%);
@white:                  #fffafa;

// Scaffolding
// -------------------------

@body-bg:               @white;
@default-box-bg:        @white;
@default-border-color:  @gray-light;
@default-border:        1px solid @default-border-color;
@button-border:         3px solid @default-border-color;
@text-color:            #3d2b1f;
@transition-timing:		.1s ease-out;

// Links
// -------------------------

@link-color:            @avl-red;
@link-hover-color:      darken(@link-color, 10%);

// Typography
// -------------------------

@font-family-sans-serif:  "Open Sans","Helvetica Neue",sans-serif;
@font-family-serif:       "Playfair Display",Georgia,serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
@font-family-caption:	  @font-family-sans-serif;

@font-size-base:          20px;
@font-size-large:         ceil(@font-size-base * 1.5);
@font-size-small:         floor(@font-size-base * 0.75);

@line-height-base:        1.6;
@line-height-computed:    floor(@font-size-base * @line-height-base);

@headings-font-family:    @font-family-serif;
@headings-font-weight:    700;
@headings-line-height:    1.1;

@subheadings-font-family:    @font-family-sans-serif;
@subheadings-font-weight:    400;
@subheadings-line-height:    1.1;
@subheadings-letter-spacing: 1px;

// Iconography
// -------------------------

@icon-font-path:          "http://www.exploreasheville.com/includes/css/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icomoon:                 "icons";


// Components
// -------------------------

@default-padding:                @font-size-base;

@padding-base-vertical:          floor(@default-padding / 2);
@padding-base-horizontal:        @default-padding;

@padding-large-vertical:         @default-padding;
@padding-large-horizontal:       floor(@default-padding * 2);

@padding-small-vertical:         floor(@default-padding / 3);
@padding-small-horizontal:       floor(@default-padding / 2);

@line-height-large:              2;
@line-height-small:              1.4;

@border-radius-base:             floor(@default-padding / 10);
@border-radius-large:            floor(@default-padding / 5);
@border-radius-small:            0;

// Navbar
// -------------------------
@map-markers:                 floor(@font-size-base * 4);
@navbar-height:               floor(@font-size-base + 100);
//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          floor(@default-padding / 4);
@nav-link-hover-bg:                         @gray-light;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 @body-bg;

//== Tabs
@nav-tabs-border-color:                     @default-border-color;
@nav-tabs-link-hover-border-color:          @default-border-color;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   @default-border-color;

@nav-tabs-justified-link-border-color:            @default-border-color;
@nav-tabs-justified-active-link-border-color:     fadeout(@nav-tabs-justified-link-border-color, 100%);

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @default-box-bg;
@nav-pills-active-link-hover-color:         @body-bg;

// Tables
// -------------------------
@table-cell-padding:                 floor(@default-padding / 4);
@table-condensed-cell-padding:       floor(@default-padding / 8);

@table-bg:                           transparent; // overall background-color
@table-bg-accent:                    @default-box-bg; // for striping
@table-bg-hover:                     @body-bg;
@table-bg-active:                    @table-bg-hover;

@table-border-color:                 @default-border-color; // table and cell border


// Buttons
// -------------------------

@btn-default-color:              @white;
@btn-default-bg:                 @avl-red;
@btn-default-border:             darken(@btn-default-bg, 5%);

@btn-primary-color:              @white;
@btn-primary-bg:                 @avl-blue;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              @white;
@btn-success-bg:                 @avl-green;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-warning-color:              @white;
@btn-warning-bg:                 @avl-yellow;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               @white;
@btn-danger-bg:                  @avl-red;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-info-color:                 @white;
@btn-info-bg:                    @avl-gray;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-link-disabled-color:        @gray-light;


// Forms
// -------------------------

@input-bg:                       @body-bg;
@input-bg-disabled:              @gray-light;

@input-color:                    @avl-gray;
@input-border:                   @default-border-color;
@input-border-radius:            @border-radius-base;
@input-border-focus:             @default-border-color;

@input-color-placeholder:        @gray-light;

@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large:             (floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@legend-color:                   @avl-gray;
@legend-border-color:            @default-border-color;

@input-group-addon-bg:           @gray-light;
@input-group-addon-border-color: @input-border;



// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
@screen-xs:                  480px;
@screen-phone:               @screen-xs;

// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet:              @screen-sm;

// Medium screen / desktop
@screen-md:                  1024px;
@screen-desktop:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1280px;
@screen-lg-desktop:          @screen-lg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         @padding-large-horizontal;
// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-tablet;


// Panels
// -------------------------
@panel-bg:                    @default-box-bg;
@panel-primary-border:        @default-border-color;
@panel-inner-border:          @default-border-color;
@panel-border-radius:         @border-radius-small;
@panel-footer-bg:             @default-border-color;

@panel-default-text:          @avl-gray;
@panel-default-border:        @default-border-color;
@panel-default-heading-bg:    @default-border-color;

// Thumbnails
// -------------------------
@thumbnail-padding:           0;
@thumbnail-bg:                @default-box-bg;
@thumbnail-border:            @default-border-color;
@thumbnail-border-radius:     @border-radius-small;

@thumbnail-caption-color:     @avl-gray;
@thumbnail-caption-padding:   floor(@default-padding / 2);

// Type
// ------------------------
@dark-text-shadow:			  fadeout(@black, 90%);
@light-text-shadow:			  fadeout(@white, 70%);
@default-box-shadow-color:	  @default-border-color;
@default-box-shadow:          0 4px 0 -2px @default-box-shadow-color;
@abbr-border-color:           @default-border-color;
@headings-small-color:        @avl-gray;
@blockquote-small-color:      @avl-gray;
@blockquote-border-color:     @default-border-color;
@page-header-border-color:    @default-border-color;
@media-border-color:          @default-border-color;
@media-border:          	  @default-border;

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 10%;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
@container-tablet:            100%; //((720px + @grid-gutter-width));

// Medium screen / desktop
@container-desktop:           100%; //((940px + @grid-gutter-width));

// Large screen / wide desktop
@container-lg-desktop:        100%; //((1140px + @grid-gutter-width));
