// Google Map
#map_canvas{
    width: 100%;
    height: 600px;
}
@media (max-width: @screen-tablet) {
    #map_canvas{
        width: 100%;
        height: 300px;
    }
}
// Other map
#map {
    position:relative;
}
#map > img {
	width:100%;
}
.hotspotcontainer {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	bottom:0;
}
.hotspotbutton {
    display:block;
	position:absolute;
	z-index:9;
	.img-circle;
    background-color:@black;
    .opacity(0);
    margin:0;
    padding:0;
    &:hover,
    &:focus{
        cursor:pointer;
        background-color:@white;
    }
}
#map .hotspotbutton.wnc {left:26%;top:27%;width:5%;height:9%;}
#map .hotspotbutton.rockies {left:21%;top:22%;width:5%;height:9%;}
#map .hotspotbutton.china-japan {left:80%;top:20%;width:5%;height:9%;}
#map .hotspotbutton.new-england {left:29%;top:20%;width:5%;height:9%;}
#map .hotspotbutton.southern-hemisphere {left:82%;top:71%;width:11%;height:11%;}
#map .hotspotbutton.northern-europe {left:47%;top:11%;width:8%;height:12%;}
#map .hotspotbutton.chile {left:29%;top:63%;width:5%;height:9%;}
.hotspotcontainer .info {
    .panel;
    position:absolute;
    z-index:10;
	left:0;
	bottom:-320px;
	width:100%;
    .opacity(0);
    margin:0;
    padding: floor(@font-size-base / 2);
    h4{
        margin: 0 0 5px 0;
        padding:0;
    }
    p{
        padding:0;
    }
}