.intro{
    .featurette();
    padding: 200px 0;
    margin-top:-@default-padding;
    background: url(http://farm6.static.flickr.com/5065/5733843611_c354ae62fe_o.gif) no-repeat;
    background-attachment:fixed;
    .background-size(cover)
}
#story-2{
    .featurette();
    padding: @default-padding 0;
    margin-top:-@default-padding;
    background: url(http://i.imgur.com/u4kq50p.gif) no-repeat;
    background-attachment:fixed;
    .background-size(cover)
}
#story-3{
    .featurette();
    padding: @default-padding 0;
    margin-top:-@default-padding;
    background: url(http://i.imgur.com/BaSgARa.gif) no-repeat;
    background-attachment:fixed;
    .background-size(cover)
}
#story-4{
    .featurette();
    padding: @default-padding 0;
    margin-top:-@default-padding;
    background: url(http://i.imgur.com/GnEEDN6.jpg) no-repeat;
    background-attachment:fixed;
    .background-size(cover)
}
#story-5{
    .featurette();
    padding: @default-padding 0;
    margin-top:-@default-padding;
    background: url(http://i.imgur.com/UxuPhr4.jpg) no-repeat;
    background-attachment:fixed;
    .background-size(cover)
}
#story-6{
    .featurette();
    padding: @default-padding 0;
    margin-top:-@default-padding;
    background: url(http://i.imgur.com/BaSgARa.gif) no-repeat;
    background-attachment:fixed;
    .background-size(cover)
}
